/* Begrenzung des gesamten Viewports */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Verhindert horizontales Scrollen */
}

.admin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Vollbildhöhe */
    background-color: #1a2024; /* Hintergrundfarbe */
    font-family: Arial, sans-serif;
    margin: 0;
}

.main {
    width: 50%; /* Zentrales Fenster */
    max-width: 800px;
    min-height: 400px;
    background-color: #0d1621;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
}

h3 {
    padding-top: 25px;
    font-size: 1.5em;
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    color: white;
}

li {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    text-align: center;
    font-size: 1em;
    transition: background-color 0.2s ease-in-out;
}

    li:hover {
        background-color: #f9a800;
    }

    li.selected {
        font-weight: bold;
        color: white;
    }

p {
    color: white;
    font-size: 1em;
    text-align: center;
}

/* Minimalistischer Back-Button */
.back-button {
    position: absolute; /* Innerhalb des admin-container relativ positionieren */
    top: 10px; /* Abstand vom oberen Rand */
    left: 10px; /* Abstand vom linken Rand */
    width: 40px; /* Quadratische Größe */
    height: 40px;
    background-color: #f9a800; /* Hintergrundfarbe des Buttons */
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

    .back-button:hover {
        background-color: #ffc107; /* Leichter Hover-Effekt */
    }