:root {
    --background-color: #1a1c1f;
    --text-color: white;
    --secondary-color: #f9a800;
}

.footer {
    display: flex;
    flex-direction: column; /* Standardmäßig untereinander für mobile Geräte */
    justify-content: center;
    align-items: center;
    padding: 5%;
    background-color: var(--background-color);
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 5%;
}

.hr-footer {
    border: none;
    border-top: 2px solid var(--secondary-color);
    width: 90%; /* Passt die Breite an */
    margin: 2% auto; /* Zentriert die Linie */
}

.logo-container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    background-color: var(--background-color);
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0;
}

.logo-footer {
    height: 100px; /* Kleinere Höhe für alle Geräte */
    margin: 0 auto; /* Zentriert das Logo */
}

.footer-container {
    display: flex;
    flex-wrap: wrap; /* Ermöglicht Zeilenumbruch */
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    gap: 20px; /* Fügt Abstand zwischen den Spalten hinzu */
}

.footer-column {
    flex: 1 1 100%; /* Standardmäßig nimmt jede Spalte die volle Breite ein */
    padding: 10px;
    text-align: center; /* Zentriert den Text für kleinere Geräte */
}

    .footer-column h3 {
        margin-bottom: 10px;
        font-size: 18px;
    }

    .footer-column p {
        font-size: 14px;
        margin-bottom: 3px;
        line-height: 1.6;
    }

/* Medienabfragen für größere Geräte */
@media (min-width: 768px) {
    .footer {
        flex-direction: row; /* Footer-Elemente nebeneinander für größere Geräte */
    }

    .footer-container {
        flex-wrap: nowrap; /* Kein Zeilenumbruch */
    }

    .footer-column {
        flex: 1; /* Teilt den Platz gleichmäßig */
        text-align: left; /* Text linksbündig */
    }

    .logo-footer {
        height: 150px; /* Größeres Logo für größere Geräte */
    }
}
