:root {
    --background-color: #1a1c1f;
    --text-color: white;
    --secondary-color: #f9a800;
    --header-color: #1d2024;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 150px;
    background-color: var(--header-color);
}

.logo-container {
    flex: 0 0 auto;
}

.logo {
    height: 40px;
}

.account-link{
    color: var(--secondary-color);
}
    .account-link hover {
        color: #535bf2;
    }

.nav-links {
    display: flex;
    gap: 1.5rem;
}

    .nav-links a {
        color: var(--text-color);
        text-decoration: none;
        font-weight: 600;
        transition: color 0.3s;
    }

        .nav-links a:hover {
            color: var(--secondary-color);
        }
