:root {
    --background-color: #1E2024;
    --text-color: white;
    --secondary-color: #f9a800;
    --card-background: #2A2D32;
    --hover-color: #ffb733;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
}

.body {
    padding: 20px;
}

h1 {
    color: var(--secondary-color);
    text-align: center;
    margin-bottom: 20px;
}

.loader {
    border: 4px solid var(--card-background);
    border-top: 4px solid var(--secondary-color);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    display: inline-block;
    margin-left: 10px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.user-items {
    margin: 20px auto;
    max-width: 600px;
    background-color: var(--card-background);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

    .user-items ul {
        list-style: none;
        padding: 0;
    }

    .user-items li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid var(--hover-color);
    }

        .user-items li:last-child {
            border-bottom: none;
        }

.delete-button {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

    .delete-button:hover {
        background-color: var(--hover-color);
        transform: scale(1.1);
    }

.error-message {
    color: red;
    text-align: center;
    margin-top: 20px;
}

/* Standortauswahl */
.standorte {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.standort {
    background-color: var(--card-background);
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    padding: 10px;
    text-align: center;
    width: 250px;
    transition: transform 0.3s;
}

    .standort:hover {
        transform: scale(1.05);
    }

    .standort img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .standort h2 {
        margin-top: 10px;
        color: var(--text-color);
    }

/* Responsive Design */
@media (max-width: 768px) {
    .user-items {
        max-width: 90%;
    }

    .standort {
        width: 200px;
    }
}

@media (max-width: 480px) {
    .standorte {
        flex-direction: column;
        align-items: center;
    }

    .standort {
        width: 100%;
        max-width: 300px;
    }
}
