
VisualObjectRecognition/.vs/VisualObjectRecognition/FileContentIndex/2ab2d0f5-57eb-471f-9d46-048bfe6ec111.vsidx
VisualObjectRecognition/.vs/VisualObjectRecognition/FileContentIndex/91505845-9669-4498-bf46-ccdddf460187.vsidx
VisualObjectRecognition/.vs/VisualObjectRecognition/FileContentIndex/ff23698f-a442-4266-93df-a98a42a883b1.vsidx
VisualObjectRecognition/visualobjectrecognition.client/obj/Debug/visualobjectrecognition.client.esproj.CoreCompileInputs.cache
VisualObjectRecognition/visualobjectrecognition.client/obj/Debug/visualobjectrecognition.client.esproj.FileListAbsolute.txt
