# Build-Ordner
bin/
obj/
out/
vs/

# Benutzerbezogene Konfigurationsdateien
*.user
*.userosscache
*.suo
*.sln.docstates
*.sln.ide

# Temporäre Dateien
*.log
*.tmp
*.vs/
*.pidb
*.opendb
*.vsidx


# Paket-Manager-Cache
packages/
*.nuget/

# Visual Studio Code Ordner
.vscode/
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/*.code-workspace
.vs/VisualObjectRecognition/v17/DocumentLayout.json

# Backup- und Sicherungsdateien
*.bak
*.old
*.orig

# Lock-Dateien
project.lock.json
*.lock.json

# Build-Ausgaben
*.dll
*.exe
*.pdb
*.cache
*.ilk
*.obj
*.lib
*.so
*.dylib
*.class

# Testresultate
TestResults/

# Erweiterte Tools und Plugins
_ReSharper*/
*.DotSettings.user

# CMake und andere Build-Systeme
CMakeFiles/
CMakeCache.txt
cmake-build-*/
*.cbp
*.depend
*.ninja
build/

# Bilddaten oder andere temporäre Dateien
*.jpg
*.png
*.bmp
*.gif

# Eigenes Modelltraining (falls zutreffend)
*.h5
*.onnx
*.pb
*.pth
*.weights

# Temporäre Projektdateien
ipch/
*.aps
*.ncb
*.res
*.sdf
*.opensdf

# Windows-spezifische Dateien
Thumbs.db
desktop.ini
$RECYCLE.BIN/

# Lokale Konfigurationsdateien für Visual Studio
*.VC.db
*.VC.VC.opendb
